*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px! important;
}
.textlist{
    margin-top: 40px;
}
p{
    font-size: 14px;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head{
    margin-left: 100px;
    color: rgba(17, 63, 115, 0.896);
}
.bg-dark{
    background: linear-gradient(rgba(255, 136, 225, 0.896),rgba(0, 11, 130, 0.7))! important;
}
.form-control{
    height: 36px;
    background: #fff;
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none! important;
    border: 1px solid rgba(0,0,0,0.8);
}

.contactForm .form-control{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0;
}

.form-control:focus, .form-control:active{
    border-color: rgba(17, 63, 115, 0.896);
}

.btn-primary{
    background: rgba(212, 172, 228, 0.896);
    border-color: rgba(124, 25, 182, 0.896);
    color: #fff;
    width: 180px;
    border-radius: 5px;
    margin-left: 150px;
}

.btn-primary:hover{
    background-color: rgba(99, 21, 122, 0.896);
}